@charset "utf-8";


/*FONTS:STRAT*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500;600&display=swap');
/*FONTS:END*/

/* 공통속성 */
body{box-sizing: border-box; font-family: 'Encode Sans SC', sans-serif; color:#fff; }
.container{margin:0 auto; width:370px; position: relative; box-sizing: border-box;}
img{width:100%;}
#main{background: linear-gradient( to bottom, #e6c1d6, #9e6ed4,#e6c1d6,#9e6ed4 );}
#footer{background: #9e6ed4;}
/* HEADER */
header{position: fixed; top: 0; left: 0; width: 100%; z-index: 1002;}
header.slim{background-color: rgba(25,25,25,.4);}
header .h_inner{padding: 50px 0; transition: padding .3s ease-in-out;}
header.slim .h_inner{padding: 20px 0; transition: padding .3s ease-in-out;}
header .h_inner h1{position: relative; display: inline-block;}
header .h_inner h1 img{width: 70px;position: absolute;top: -30px;left: 5px;}
header nav{display: inline-block;}
header nav .main_menu{padding-left: 210px;}
header nav .main_menu li{display: inline-block; margin-right: 30px;}
header nav .main_menu li a{color:#fff; position: relative; display: block; font-size: 16px; font-weight: 500; line-height: 20px; letter-spacing: 0;}
header .navBtn{position: absolute; top:-5px; right: 15px;}
header .navBtn button{position: relative; width: 22px; height: 20px; z-index: 1002; background: none; cursor: pointer;}
header .navBtn button span{position: absolute; display: block; width: 22px; height: 2px; background-color: #fff;}
header .navBtn button .bar1{top: 0; right: 0; transform-origin: 100% 0; transition: all .3s; transform:rotate(0deg)}
header .navBtn button .bar1.addAppbar{top: 0; right: 1px; width: 26px; transform:rotate(-45deg) translateY(-50%); transform-origin: 100% 100%; transition: transform .5s cubic-bezier(.5,.1,0,1.2);}
header .navBtn button .bar2{top: 9px; transition: all .3s; opacity: 1;}
header .navBtn button .bar2.addAppbar{opacity: 0;}
header .navBtn button .bar3{top: auto; right: 0; bottom: 0; transform-origin: 100% 100%; transition: all .3s; transform:rotate(0deg)}
header .navBtn button .bar3.addAppbar{bottom: -1px; right: 2px; width: 26px; transform: rotate(45deg) translateY(-50%);transform-origin: 100% 0; transition: transform .5s cubic-bezier(.5,.1,0,1.2);}

header .slide_nav{background: linear-gradient( to right, rgba(67, 58, 83,.8), #361956 ); position: fixed; top:0; right: -200px; width: 200px; height:100%;display: flex;flex-direction: column;justify-content: space-evenly}
/* header .slide_nav>.container{top:40%; transform: translateY(-40%); position: relative; padding-left:20px;} */

header .slide_nav .slide_menu{z-index: 1001; padding-bottom: 50px; padding-right:20px;}
header .slide_nav .slide_menu li{margin-bottom: 10px; overflow: hidden;  display: flex;flex-direction: column}
header .slide_nav .slide_menu li a{font-size: 20px; color: #fff; text-align: right;}
header .slide_nav .info dl{text-align: right; padding-right:20px;font-family: 'Montserrat','Noto Sans KR';}
/* Title */
.title .title_inner{padding-top:80px;}
.title .title_inner .tit_wrap{text-align: center;}
.title .title_inner .tit_wrap h2{font-size: 25px; position: relative;}
.title .title_inner .tit_wrap p{position: relative; margin-top: 10px; font-size: 16px; font-weight: 400; line-height: 2;}

/* info */
#visual{width:100%; height:100vh; background: #c3c1e6; ; position: relative;}
#visual .visual_title{width:100%;position: absolute; top:50%; left:0; transform: translateY(-50%); text-align: center;}
#visual .visual_title h2.typing-txt{ display:none;}
#visual .visual_title .typing{display: inline-block; animation-name: cursor; animation-duration: 0.3s; animation-iteration-count: infinite; font-size: 30px; text-transform: uppercase; color:#250512; } 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}
#visual .scroll_down_btn{position: absolute; bottom:50px; left:50%; transform: translateX(-50%); background: none; color:rgb(40, 18, 61); font-size: 14px; font-weight:700; text-transform: uppercase; letter-spacing: 1.5px; display:block;}
#visual .scroll_down_btn .mouse{position: absolute; top: -57px; left: 40%; font-size:30px;margin-left: -3px; animation: scd 2s infinite; box-sizing: border-box;}
@keyframes scd {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
/* slider */
.slider{position: relative; padding-left: 20px;}
.slider_inner{padding-top:80px;}
.mySwiper{cursor:grab;}
/* .swiper-slide{width:500px;margin: 0;} */
.swiper-container{width: 100%; }
.swiper-slide{width: 80%; }
.swiper-slide img{height: 300px; width: 110%; border-radius: .5rem;}
.swiper-slide .type{
  position: absolute; top: 1rem; left: 1rem; color: #fff; font-size: 12px; font-weight: 700; background:#231556;padding: 5px 15px; border-radius: 10px;}
.swiper-slide h3{
  position: absolute; top: 3.5rem; left: 1.3rem; color: #fff; font-size: 16px; font-weight: 700;}
.swiper-slide p{
  position: absolute;top: 3.7rem; left: 1.3rem; margin-top: 1.7rem; color: #fff; font-weight: 500;}
/* .swiper-slide .slide_tit{position: relative; width:auto;}
.swiper-slide .slide_tit .slide_title{background: rgb(71, 74, 75); display:block; width:400px; height:300px; position: relative;}
.swiper-slide .slide_tit .slide_title .img{background: url(../img/re_on_01.png) no-repeat center center/cover; height:300px; display:block;}
.swiper-slide .slide_tit .slide_title .type{display: inline-block; padding: 3px 5px; font-size: 13px; border-radius: 3px; background-color: #393939; color: #fff; position: absolute; bottom:140px; left:50px;}
.swiper-slide .slide_tit .slide_title h3{font-size: 20px; position: absolute; bottom:70px; left:50px}
.swiper-slide .slide_tit .slide_title p{position: absolute; bottom:110px; left:50px}
.swiper-slide .slide_tit .slide_title2 .img{background: url(../img/re_1.jpg) no-repeat center center/cover; height:300px;display:block;}
.swiper-slide .slide_tit .slide_title3 .img{background: url(../img/re_2.jpg) no-repeat right/cover; height:300px; display:block;}
.swiper-slide .slide_tit .slide_title4 .img{background: url(../img/re_3.jpg) no-repeat right/cover; height:300px; display:block;} */

/* works */
.works_inner{padding-top: 40px;}
.works_inner>.container{columns: 1; column-gap: 200px; padding:0;}
.works_inner .work-list{border-radius: 20px;height:auto; display: flex;margin-bottom: 50px; position: relative; align-items:center; flex-direction: column;}
.works_inner .work-list>.img>.w-detail{color: #fff; width:100%; height:100%; font-size: 13px; background: rgba(0,0,0,.7); transition: all .4s; opacity: 0;}
.works_inner .work-list>.img:hover>.w-detail{opacity: 1;}
.works_inner .work-list>.img>.w-detail>span{display:block; text-align: left; padding-left:50px; padding-top:5px;}
.works_inner .work-list>.img>.w-detail>.first{padding-top:75px}
.works_inner .work-list>.img>.w-detail>span>b{font-size: 14px;}
.works_inner .work-list>.img>.w-detail>span>b:after{content:"|"; display:inline-block; padding:0 20px; font-weight: normal;}
.works_inner .list1 .img{background: url(../img/re_on_01.png) no-repeat top center/cover; height:300px; display:block; width:400px;}
.works_inner .list2 .img{background: url(../img/pro02.png) no-repeat top center/cover; height:300px; display:block; width:400px;}
.works_inner .list3 .img{background:rgb(71, 74, 75) url(../img/pro3.png) no-repeat  top center/cover; height:300px; display:block; width:400px;}
.works_inner .list4 .img{background:rgb(71, 74, 75) url(../img/ju.png) no-repeat top center/cover; height:300px; display:block; width:400px;}
.works_inner .work-list .work_info{display:flex; margin-top: 20px; width:400px; padding-left: 50px; flex-direction: column; align-items: flex-start;}
.works_inner .work-list .work_info .type{display: inline-block; padding: 3px 10px; font-size: 13px; border-radius: 10px; background-color: #28074e; color: #fff;}
.works_inner .work-list .work_info h3{font-size: 21px; font-weight: bold; padding-bottom: 10px; margin-left: 5px;}
.works_inner .work-list .work_info p{font-size: 13px; padding-bottom: 10px; letter-spacing:.5px; margin-left: 5px;}
.works_inner .work-list .work_info .button{font-size: 14px; padding:8px 20px; border-radius: 10px; cursor:pointer; font-weight: 600; transition: all .3s; background: #efefef;margin-left: 5px;}
.works_inner .work-list .work_info .button:hover{background: #191919; color:#fff;margin-left: 5px;}

/* ABOUT */
.about_inner{padding-top: 14px; }
.about_inner .flexBox{display:flex; flex-direction: column;}
.about_inner .top{display:inline-block;}
.about_inner .top .imgBox{width: 79%;height: 300px;background: #999 url(../img/f2.jpg) no-repeat center/cover;border-radius: 30px;margin-left: 42px;}
.about_inner .bottom{display:inline-block; padding-left:25px}
.about_inner .bottom dl{display:inline-block; margin-top: 20px;}
.about_inner .bottom dl dt{display:inline-block; font-weight: bold; font-size: 18px; vertical-align: top; width:34%; padding-bottom: 10px;}
.about_inner .bottom dl dd{display:inline-block; font-weight: normal; font-size: 16px; width:50%; padding-top: 5px; font-family: 'Montserrat','Noto Sans KR';}
.about_inner .bottom .sub_title{margin:30px 0; font-weight: bold; font-size: 18px; vertical-align: top;}
.about_inner .bottom ul li{display:inline-block; width:60px; height:60px; background-position: center; background-repeat: no-repeat; background-size: cover; border-radius: 10px; margin-right: 20px; position: relative; background-color: rgba(226, 226, 226,.5);}
.about_inner .bottom ul li span{display:none;}
.about_inner .bottom ul .html{background-image:url(../img/html.png); }
.about_inner .bottom ul .css{background-image:url(../img/css.png); }
.about_inner .bottom ul .javascript{background-image:url(../img/jss.png);}
.about_inner .bottom ul .jquery{background-image:url(../img/jquery.png);}
.about_inner .bottom ul .sass{background-image:url(../img/scss.png);}
.about_inner .bottom ul .git{background-image:url(../img/git.png); margin-top:10px;}
.about_inner .bottom ul .php{background-image:url(../img/php.png); margin-top:10px;}
.about_inner .bottom ul .Bootstrap{background-image:url(../img/logo_bootstrap.png); margin-top:10px;}
.about_inner .bottom ul .figma{background-image:url(../img/figma.png);}
.about_inner .bottom ul .photoshop{background-image:url(../img/pho.png);}
.about_inner .bottom ul .illustrator{background-image:url(../img/ill.png);}
.about_inner .bottom ul .zeplin{background-image:url(../img/Zeplin.png);}


/* contact */
.contact_inner{padding:50px 0;}
.contact_inner ul{display: flex; flex-direction: column; width: 290px; margin: 0 auto;}
.contact_inner ul li{font-size: 16px; padding:10px 0; font-weight: bold; width: 166px;}
.contact_inner ul li i{padding-right:10px;}
.contact_inner ul li p{font-size: 14px; font-weight: normal; padding-top: 10px; color:#fff;font-family: 'Montserrat','Noto Sans KR';}
.contact_inner ul li .kakao{color: #fff;display: block;font-size: 14px;width: 133px;height: 31px;padding-top: 10px;text-align: center;background: #60467c;border-radius: 10px;margin-top: 12px;}

/* footer */
.footer_inner{padding:50px 0; border-top: 1px solid #fff;}
.footer_inner .footer_top a{position: relative;left: 40%; display: inline-block; font-size: 14px; font-weight: 800; color: #fff; text-transform: uppercase;}
.footer_inner .footer_bottom{display:flex; margin-top: 40px; flex-direction: column; align-items: center;}
.footer_inner .footer_bottom ul{display:inline-block; position: relative; padding-bottom:20px;}
.footer_inner .footer_bottom ul li{display:inline-block; margin-right: 10px;}
.footer_inner .footer_bottom ul li a{color:#fff; text-transform: uppercase;}
.footer_inner .footer_bottom ul li:hover a{color:#fff;}
.footer_inner .footer_bottom .sns li .github{background: url(../img/icon_github.png) no-repeat center center/cover; display:block; width:40px; height:40px; margin-right:10px;}
.footer_inner .footer_bottom .sns li .roket{background: url(../img/rocketpunch_logo.png) no-repeat center center/cover; display:block; width:40px; height:40px; margin-right:10px;}
.footer_inner .footer_bottom p{display:inline-block; color:#fff}